.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 780px;
  margin: 0 auto;
  a {
    color: hsl(45, 89, 69);
  }
}

@media only screen and (max-width: 768px) {
  .searchContainer {
    flex-direction: column;
  }
}

.infoContainer {
  min-height: 68px;
  margin-top: var(--space3);
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.searchDisplay {
  display: flex;
  justify-content: center;
  flex: 1;
}
